In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.5/246.5 kB 5.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
producer = KafkaProducer(bootstrap_servers=HIDDEN, 
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [23]:
producer.send('demo_testing2',value={'Hey':'there'})

In [24]:
#Read in data from a file stored locally
df = pd.read_csv("data/HSI_2023.csv")

In [33]:
df.head()

,Date,Open,High,Low,Close,Volume,Adjusted
0,2022-03-01,22739.839844,22937.560547,22591.730469,22761.710938,1796043100,22761.710938
1,2022-03-02,22568.359375,22712.439453,22299.140625,22343.919922,2227896000,22343.919922
2,2022-03-03,22434.259766,22543.419922,22378.109375,22467.339844,1937725100,22467.339844
3,2022-03-04,21879.130859,22017.939453,21838.990234,21905.289063,2438205000,21905.289063
4,2022-03-07,21308.900391,21327.189453,20826.359375,21057.630859,3322870000,21057.630859

In [ ]:
while True:
    stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_testing2',value=stock)
    sleep(1)

In [51]:
producer.flush()